* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.conteiner {
 width: 1440px;
 margin: 0 auto;
}

.header {
 width: 100%;
 height: 134px;
 padding: 42px 109px;
 display: flex;
 justify-content: space-between;
}

.header a {
 text-decoration: none;
 color: #010201;
 font-size: 16px;
}

.welcome {
 background-color: #EDF2EC;
}

.nav {
 display: flex; 
 gap: 46px;
}

a {
 text-decoration: none;
}

li {
 list-style: none;
}

.colortext {
 color: #499A18;
}

h1 {
 color: #717171;
}

p {
 color: #636060;
}

.welcome-section{
 height: 532px;
 padding: 62px 109px;
 display: flex;
 gap: 224.2px;
}

.img-welcome-section {
 width: 448.8px;
 height: 407.36px;
}

.text-welcome-section {
 padding: 0 50px;
}

p { 
 font-size: 20px;
 font-weight: 400;
}

.text-welcome-section p {
 width: 525.44px;
 padding: 42px 0 62px 0;
}

h1 {
 padding-top: 36px;
 font-size: 45px;
 font-weight: 700;
}

h2 {
 width: 463px;
 color: #E06733;
 font-size: 40px;
 font-weight: 400;
}

.about {
 height: 666px;
 display: flex;
 justify-content: center;
 gap: 153px;
}

section {
 padding: 0 109px;
}

h3 {
 font-size: 20px;
 font-weight: 700;
 color: #E06733;
}

.service {
 height: 1300px;
 background-color: #EDF2EC;
}

.service-bloks {
 display: flex;
 flex-wrap: wrap;
 gap: 117px;
}

.service-item {
 width: 329px;
 height: 450px;
}